h2 {
  text-align: center;
  text-transform: uppercase;
  color: #00695c;
}

.centered {
  display: block;
  width: 80%;
  margin: auto;
}

table {
  /* property sets whether table borders should collapse into a single border or 
  be separated as in standard HTML. */
  border-collapse: collapse;
  border-spacing: 0;
  /* of a parent div (centered) */
  width: 100%;   
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding-left: 16px;
  width: 30rem;
}

tr:nth-child(even)  {
  background-color: #f2f2f2;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

.btn2 {
  border: 2px solid #00695c;
  background-color: white;
  color: #00695c;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.btn2:hover {
  background-color: #00695c;
  color: white;
}
